{%  extends "CoreBundle:Base:base.html.twig" %}
{% block toolbar %}
{% endblock %}
{% block dashboard %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">

            <br><br>

            <div class="row-fluid">
                <div class="well span4 center login-box">
                    <img src="{{client_logo}} " width = "150px"/><br><br><br><br>
                    {% if details is defined %}
                        <div class="alert alert-info">
                            {{details}}
                        </div>
                    {% endif %}
                    <div><label class="control-label required">Enter your Email Address</label></div>
                    <form class="form-horizontal" action="{{ path('forgot_password') }}" method="post">
                        <div class="control-group">
                            <div class="input-prepend" title="Username" data-rel="tooltip">
                                <span class="add-on"><i class="icon-user"></i></span><input autofocus class="input-large span10" name="email" id="email" type="email" value="" placeholder="type your email" required />
                            </div>

                            <div class="clearfix"></div>


                            <p class="center span5">
                                <button type="submit" class="btn btn-success">Reset</button> </p>
                            <p align="center">
                                Remember your password? <a href="{{path('auth_login')}}">Login</a>
                            </p>
                            <p align="center">
                                Not a member? <a href="{{path('user_register')}}">register here </a>
                            </p>


                    </form>


                </div><!--/span-->


            </div><!--/row-->

        </div><!--/fluid-row-->

    </div><!--/.fluid-container-->

{% endblock %}

