{%  extends "MoraspiritStyleBundle:Base:Base.html.twig" %}
{% block dashboard %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">

        <br><br>

        <div class="row-fluid">
            <div class="well span4 center login-box">
                <!--<img src="{{asset('bundles/moraspiritstyle/img/msplogo.png')}} " width = "150px"/><br><br><br><br>-->
                {% if details is defined %}
                <div class="alert alert-info">
                    {{details}}
                </div>
                {% endif %}
                {{form_start(form)}}
                <div>{{form_label(form.newpassword)}}</div>
                <div class="control-group">
                	<div>
                        	{{form_widget(form.newpassword)}}
                       	</div>
            	</div>
            	<div>{{form_label(form.confirmpassword)}}</div>
                <div class="control-group">
                	<div>
                        	{{form_widget(form.confirmpassword)}}
                       	</div>
            	</div>
            	{{form_end(form)}}

        </div><!--/row-->
       
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->

{% endblock %}