{%  extends "CoreBundle:Base:base.html.twig" %}
{% block toolbar %}
{% endblock %}
{% block dashboard %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">

            <br><br>

            <div class="row-fluid">
                <div class="well span4 center login-box">
                    <img src="{{client_logo}} " width = "150px"/><br><br><br><br>
                    {% if details is defined %}
                        <div class="alert alert-info">
                            {{details}}
                        </div>
                    {% endif %}
                    {{form_start(form)}}
                    <div class="control-group">
                        <div>
                            {{form_widget(form.newpassword)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <div>
                            {{form_widget(form.confirmpassword)}}
                        </div>
                    </div>
                    <p class="center span5">
                        <button type="submit" class="btn btn-success">Reset</button> </p>
                    {{form_end(form)}}

                </div><!--/span-->


            </div><!--/row-->

        </div><!--/fluid-row-->

    </div><!--/.fluid-container-->

{% endblock %}
